<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Factorial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Factorial2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <form (ngSubmit)="calculate()" #miFormulario="ngForm" autocomplete="off">
      <ion-input type="number" pattern="^[0-9]*$" maxlength="3" required name="factor" [(ngModel)]="factor"></ion-input>
      <ion-button type="submit" expand="block" fill="clear" shape="round" [disabled]="miFormulario.invalid">
        Calculate
      </ion-button>
    </form>
    
    <ion-button (click)="reset()" expand="block" fill="clear" shape="round" [disabled]="miFormulario.invalid">
      Reset
    </ion-button>

    <ion-input type="text" disabled readonly name="result" [(ngModel)]="result"></ion-input>
  </div>
</ion-content>
